/* Get the new colors here: https://www.radix-ui.com/colors/custom in case you want
*  to override existing ones
* */

:root,
.light,
.light-theme {
  --red-1: #fffcfb;
  --red-2: #fff8f6;
  --red-3: #ffeae7;
  --red-4: #ffdad2;
  --red-5: #ffcbc1;
  --red-6: #ffbaae;
  --red-7: #fca597;
  --red-8: #f48979;
  --red-9: #ef3729;
  --red-10: #e21d13;
  --red-11: #d9190f;
  --red-12: #631f17;

  --red-a1: #ff400004;
  --red-a2: #ff390009;
  --red-a3: #ff200018;
  --red-a4: #ff2e002d;
  --red-a5: #ff2a003e;
  --red-a6: #ff260051;
  --red-a7: #f8230068;
  --red-a8: #eb1f0086;
  --red-a9: #ec1100d6;
  --red-a10: #e00b00ec;
  --red-a11: #d70b00f0;
  --red-a12: #540900e8;

  --red-contrast: #fff;
  --red-surface: #fff6f4cc;
  --red-indicator: #ef3729;
  --red-track: #ef3729;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --red-1: oklch(99.4% 0.0036 29.35);
      --red-2: oklch(98.4% 0.0085 29.35);
      --red-3: oklch(95.5% 0.0247 29.35);
      --red-4: oklch(92.7% 0.0536 29.35);
      --red-5: oklch(89.3% 0.071 29.35);
      --red-6: oklch(85.4% 0.0868 29.35);
      --red-7: oklch(80.4% 0.1057 29.35);
      --red-8: oklch(74.2% 0.1331 29.35);
      --red-9: oklch(62.3% 0.2212 29.35);
      --red-10: oklch(58.1% 0.226 29.35);
      --red-11: oklch(56.4% 0.2212 29.35);
      --red-12: oklch(34.4% 0.1002 29.35);

      --red-a1: color(display-p3 0.7569 0.2667 0.0235 / 0.016);
      --red-a2: color(display-p3 0.8941 0.2392 0.0235 / 0.036);
      --red-a3: color(display-p3 0.8314 0.1412 0.0118 / 0.091);
      --red-a4: color(display-p3 0.8667 0.1843 0.0039 / 0.173);
      --red-a5: color(display-p3 0.8706 0.1725 0.0039 / 0.236);
      --red-a6: color(display-p3 0.8745 0.1569 0.0039 / 0.306);
      --red-a7: color(display-p3 0.851 0.1412 0.0039 / 0.393);
      --red-a8: color(display-p3 0.8078 0.1255 0 / 0.506);
      --red-a9: color(display-p3 0.8235 0.0863 0 / 0.785);
      --red-a10: color(display-p3 0.7843 0.0745 0 / 0.851);
      --red-a11: color(display-p3 0.7451 0.0667 0 / 0.863);
      --red-a12: color(display-p3 0.2824 0.0392 0 / 0.895);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9961 0.9647 0.9608 / 0.8);
      --red-indicator: oklch(62.3% 0.2212 29.35);
      --red-track: oklch(62.3% 0.2212 29.35);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfe;
  --gray-2: #f9f9fc;
  --gray-3: #eff0f4;
  --gray-4: #e6e8ee;
  --gray-5: #dee1e8;
  --gray-6: #d7d9e1;
  --gray-7: #ccced8;
  --gray-8: #b7bbc8;
  --gray-9: #8a8d9a;
  --gray-10: #7f838f;
  --gray-11: #61646e;
  --gray-12: #1e2027;

  --gray-a1: #0000aa03;
  --gray-a2: #00008006;
  --gray-a3: #00105010;
  --gray-a4: #00155219;
  --gray-a5: #00184e21;
  --gray-a6: #000d4028;
  --gray-a7: #000a3c33;
  --gray-a8: #000f3d48;
  --gray-a9: #00072375;
  --gray-a10: #00082080;
  --gray-a11: #0005159e;
  --gray-a12: #00020ae1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8a8d9a;
  --gray-track: #8a8d9a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.2% 0.0018 272.9);
      --gray-2: oklch(98.3% 0.0032 272.9);
      --gray-3: oklch(95.6% 0.0059 272.9);
      --gray-4: oklch(93.2% 0.0077 272.9);
      --gray-5: oklch(90.9% 0.01 272.9);
      --gray-6: oklch(88.6% 0.0115 272.9);
      --gray-7: oklch(85.4% 0.0141 272.9);
      --gray-8: oklch(79.4% 0.0191 272.9);
      --gray-9: oklch(64.6% 0.0193 272.9);
      --gray-10: oklch(61.1% 0.0183 272.9);
      --gray-11: oklch(50.5% 0.0158 272.9);
      --gray-12: oklch(24.5% 0.0133 272.9);

      --gray-a1: color(display-p3 0.0235 0.0235 0.6745 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.5137 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.3176 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.0902 0.2902 / 0.099);
      --gray-a5: color(display-p3 0.0078 0.0667 0.2549 / 0.126);
      --gray-a6: color(display-p3 0.0039 0.051 0.2275 / 0.157);
      --gray-a7: color(display-p3 0 0.0392 0.2157 / 0.2);
      --gray-a8: color(display-p3 0.0039 0.0471 0.2157 / 0.279);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1216 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0275 0.1137 / 0.499);
      --gray-a11: color(display-p3 0 0.0157 0.0706 / 0.616);
      --gray-a12: color(display-p3 0 0.0078 0.0353 / 0.883);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0193 272.9);
      --gray-track: oklch(64.6% 0.0193 272.9);
    }
  }
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fff;
}

/* Dark Mode */
.dark,
.dark-theme {
  --red-1: #170f0d;
  --red-2: #201412;
  --red-3: #3c130e;
  --red-4: #530d08;
  --red-5: #63140d;
  --red-6: #742219;
  --red-7: #8d3228;
  --red-8: #b64235;
  --red-9: #ef3728;
  --red-10: #e02317;
  --red-11: #ff917f;
  --red-12: #ffd1c9;

  --red-a1: #ec000007;
  --red-a2: #f23e2011;
  --red-a3: #fb1c012f;
  --red-a4: #ff030047;
  --red-a5: #ff1a0658;
  --red-a6: #fd3a246b;
  --red-a7: #ff513e85;
  --red-a8: #ff5845b1;
  --red-a9: #ff3a2aee;
  --red-a10: #ff2618de;
  --red-a11: #ff917f;
  --red-a12: #ffd1c9;

  --red-contrast: #fff;
  --red-surface: #2f171380;
  --red-indicator: #ef3728;
  --red-track: #ef3728;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --red-1: oklch(17.8% 0.0139 29.53);
      --red-2: oklch(20.5% 0.0203 29.53);
      --red-3: oklch(25.2% 0.0648 29.53);
      --red-4: oklch(29% 0.1017 29.53);
      --red-5: oklch(33.1% 0.1135 29.53);
      --red-6: oklch(38.1% 0.1169 29.53);
      --red-7: oklch(44.8% 0.1258 29.53);
      --red-8: oklch(53.9% 0.1532 29.53);
      --red-9: oklch(62.3% 0.2213 29.53);
      --red-10: oklch(58.1% 0.2213 29.53);
      --red-11: oklch(78.4% 0.186 29.53);
      --red-12: oklch(89.9% 0.0542 29.53);

      --red-a1: color(display-p3 0.9608 0 0 / 0.022);
      --red-a2: color(display-p3 0.9961 0.2824 0.1412 / 0.055);
      --red-a3: color(display-p3 1 0.1922 0.0431 / 0.16);
      --red-a4: color(display-p3 1 0.1176 0.0039 / 0.248);
      --red-a5: color(display-p3 1 0.1922 0.0941 / 0.311);
      --red-a6: color(display-p3 0.9961 0.302 0.2 / 0.379);
      --red-a7: color(display-p3 1 0.3882 0.298 / 0.475);
      --red-a8: color(display-p3 1 0.4196 0.3255 / 0.639);
      --red-a9: color(display-p3 1 0.3216 0.2392 / 0.853);
      --red-a10: color(display-p3 1 0.2667 0.1882 / 0.795);
      --red-a11: color(display-p3 1 0.6235 0.549 / 0.937);
      --red-a12: color(display-p3 1 0.851 0.8196 / 0.971);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1647 0.0863 0.0706 / 0.5);
      --red-indicator: oklch(62.3% 0.2213 29.53);
      --red-track: oklch(62.3% 0.2213 29.53);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #200808;
  --gray-2: #281110;
  --gray-3: #361817;
  --gray-4: #3e1f1e;
  --gray-5: #462625;
  --gray-6: #502f2e;
  --gray-7: #5f3d3b;
  --gray-8: #795553;
  --gray-9: #886260;
  --gray-10: #96706d;
  --gray-11: #d1a7a5;
  --gray-12: #ffe6e3;

  --gray-a1: #f2000011;
  --gray-a2: #fc110719;
  --gray-a3: #fd3e3828;
  --gray-a4: #fc5a5531;
  --gray-a5: #ff6f6b39;
  --gray-a6: #fe827e44;
  --gray-a7: #fe979154;
  --gray-a8: #fdaba770;
  --gray-a9: #ffb3af80;
  --gray-a10: #ffbbb68f;
  --gray-a11: #ffcbc9ce;
  --gray-a12: #ffe6e3;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #886260;
  --gray-track: #886260;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(17.8% 0.0417 22.5);
      --gray-2: oklch(21.1% 0.04 22.5);
      --gray-3: oklch(25.1% 0.0491 22.5);
      --gray-4: oklch(28.1% 0.0491 22.5);
      --gray-5: oklch(31% 0.0491 22.5);
      --gray-6: oklch(34.6% 0.0491 22.5);
      --gray-7: oklch(39.9% 0.0491 22.5);
      --gray-8: oklch(48.8% 0.0491 22.5);
      --gray-9: oklch(53.5% 0.0491 22.5);
      --gray-10: oklch(58.1% 0.0491 22.5);
      --gray-11: oklch(76.6% 0.0491 22.5);
      --gray-12: oklch(94.7% 0.0327 22.5);

      --gray-a1: color(display-p3 0.9922 0 0 / 0.051);
      --gray-a2: color(display-p3 0.9882 0.1137 0.0667 / 0.085);
      --gray-a3: color(display-p3 1 0.3216 0.2667 / 0.139);
      --gray-a4: color(display-p3 0.9961 0.4314 0.3843 / 0.173);
      --gray-a5: color(display-p3 1 0.5059 0.4667 / 0.206);
      --gray-a6: color(display-p3 1 0.5843 0.549 / 0.244);
      --gray-a7: color(display-p3 1 0.6431 0.6157 / 0.307);
      --gray-a8: color(display-p3 1 0.7176 0.702 / 0.416);
      --gray-a9: color(display-p3 1 0.7529 0.7294 / 0.475);
      --gray-a10: color(display-p3 1 0.7804 0.749 / 0.534);
      --gray-a11: color(display-p3 1 0.8314 0.8157 / 0.778);
      --gray-a12: color(display-p3 1 0.9216 0.9098 / 0.984);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.5% 0.0491 22.5);
      --gray-track: oklch(53.5% 0.0491 22.5);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}
