# General
PORT=3000

# RAPIDAPI
RAPIDAPI_KEY=
TRACK_GLOBAL_BEARER=
RAPIDAPI_HOST=

# Telegram
TELEGRAM_PROXY=
TELEGRAM_BOT_TOKEN=your_bot_token_here
# so if it's "true"
USE_WEBHOOK=false
# Secret token for webhook verification (1–256 chars, only A-Z a-z 0-9 _ - allowed)
# Use a length of 32 to 64 characters to ensure high cryptographic randomness
# e.g. openssl rand -hex 32
WEBHOOK_SECRET=your_random_secret_string_here_AtLeast16CharsLong
# Optional: for webhook mode
# WEBHOOK_URL=https://your-domain.com/webhook
MANAGER_CHAT_IDS=123456789,987654321
ROOT_ADMIN_CHAT_ID=123456789

# DATABASES

# POSTGRES
POSTGRES_USER=donbass_post
POSTGRES_PASSWORD=password
POSTGRES_DB=donbass_post_db

# For Prisma
DATABASE_URL=postgresql://donbass_post:password@localhost:5434/donbass_post_db?schema=public

# MYSQL
MYSQL_DATABASE=donbass_post_orders
MYSQL_USER=donbass_post
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_SHADOW_DATABASE=donbass_post_shadow

# For Prisma
MYSQL_DATABASE_URL=mysql://donbass_post:password@127.0.0.1:3307/donbass_post_orders
MYSQL_SHADOW_DATABASE_URL=mysql://donbass_post:password@127.0.0.1:3307/donbass_post_shadow

# ODBC
MYSQL_ODBC_USER=odbc_ro
MYSQL_ODBC_PASSWORD=password
