@layer theme, base, radix-themes, components, utilities;

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant translucent (&:where([data-panel-background="translucent"] *));
@custom-variant solid (&:where([data-panel-background="solid"] *));

/*
*
* https://tailwindcss.com/docs/preflight#disabling-preflight
* By default, this is what @import "tailwindcss"; injects:
*
* @layer theme, base, components, utilities;
* @import "tailwindcss/theme.css" layer(theme);
* @import "tailwindcss/preflight.css" layer(base);
* @import "tailwindcss/utilities.css" layer(utilities);
*
* */

/*
* https://www.radix-ui.com/themes/docs/theme/color#individual-css-files */
@import "@radix-ui/themes/tokens/base.css" layer(radix-themes);

@theme inline {
  /* colors - other */
  --color-*: initial;

  --color-overlay: var(--color-overlay);
  --color-panel: var(--color-panel);
  --color-panel-solid: var(--color-panel-solid);
  --color-panel-translucent: var(--color-panel-translucent);
  --color-transparent: transparent;
  --color-background: var(--color-background);

  --color-whiteA-1: var(--white-a1);
  --color-whiteA-2: var(--white-a2);
  --color-whiteA-3: var(--white-a3);
  --color-whiteA-4: var(--white-a4);
  --color-whiteA-5: var(--white-a5);
  --color-whiteA-6: var(--white-a6);
  --color-whiteA-7: var(--white-a7);
  --color-whiteA-8: var(--white-a8);
  --color-whiteA-9: var(--white-a9);
  --color-whiteA-10: var(--white-a10);
  --color-whiteA-11: var(--white-a11);
  --color-whiteA-12: var(--white-a12);

  --color-blackA-1: var(--black-a1);
  --color-blackA-2: var(--black-a2);
  --color-blackA-3: var(--black-a3);
  --color-blackA-4: var(--black-a4);
  --color-blackA-5: var(--black-a5);
  --color-blackA-6: var(--black-a6);
  --color-blackA-7: var(--black-a7);
  --color-blackA-8: var(--black-a8);
  --color-blackA-9: var(--black-a9);
  --color-blackA-10: var(--black-a10);
  --color-blackA-11: var(--black-a11);
  --color-blackA-12: var(--black-a12);

  /* spacing */
  --spacing-rx-1: var(--space-1);
  --spacing-rx-2: var(--space-2);
  --spacing-rx-3: var(--space-3);
  --spacing-rx-4: var(--space-4);
  --spacing-rx-5: var(--space-5);
  --spacing-rx-6: var(--space-6);
  --spacing-rx-7: var(--space-7);
  --spacing-rx-8: var(--space-8);
  --spacing-rx-9: var(--space-9);

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-normal: 400;
  --font-weight-normal: 500;
  --font-weight-medium: 700;

  /* border radius */
  --radius-1: var(--radius-1);
  --radius-2: var(--radius-2);
  --radius-3: var(--radius-3);
  --radius-4: var(--radius-4);
  --radius-5: var(--radius-5);
  --radius-6: var(--radius-6);
  --radius-item: max(var(--radius-2), var(--radius-full));
  --radius-full: 9999px;

  --leading-1: var(--line-height-1);
  --leading-2: var(--line-height-2);
  --leading-3: var(--line-height-3);
  --leading-4: var(--line-height-4);
  --leading-5: var(--line-height-5);
  --leading-6: var(--line-height-6);
  --leading-7: var(--line-height-7);
  --leading-8: var(--line-height-8);
  --leading-9: var(--line-height-9);

  /* shadow */
  --shadow-1: var(--shadow-1);
  --shadow-2: var(--shadow-2);
  --shadow-3: var(--shadow-3);
  --shadow-4: var(--shadow-4);
  --shadow-5: var(--shadow-5);
  --shadow-6: var(--shadow-6);

  /* colors - all */
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-accentA-1: var(--accent-a1);
  --color-accentA-2: var(--accent-a2);
  --color-accentA-3: var(--accent-a3);
  --color-accentA-4: var(--accent-a4);
  --color-accentA-5: var(--accent-a5);
  --color-accentA-6: var(--accent-a6);
  --color-accentA-7: var(--accent-a7);
  --color-accentA-8: var(--accent-a8);
  --color-accentA-9: var(--accent-a9);
  --color-accentA-10: var(--accent-a10);
  --color-accentA-11: var(--accent-a11);
  --color-accentA-12: var(--accent-a12);
  --color-accent-contrast: var(--accent-contrast);
  --color-accent-surface: var(--accent-surface);
  --color-accent-track: var(--accent-track);
  --color-accent-indicator: var(--accent-indicator);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --color-grayA-1: var(--gray-a1);
  --color-grayA-2: var(--gray-a2);
  --color-grayA-3: var(--gray-a3);
  --color-grayA-4: var(--gray-a4);
  --color-grayA-5: var(--gray-a5);
  --color-grayA-6: var(--gray-a6);
  --color-grayA-7: var(--gray-a7);
  --color-grayA-8: var(--gray-a8);
  --color-grayA-9: var(--gray-a9);
  --color-grayA-10: var(--gray-a10);
  --color-grayA-11: var(--gray-a11);
  --color-grayA-12: var(--gray-a12);
  --color-gray-contrast: var(--gray-contrast);
  --color-gray-surface: var(--gray-surface);
  --color-gray-track: var(--gray-track);
  --color-gray-indicator: var(--gray-indicator);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);
  --color-orangeA-1: var(--orange-a1);
  --color-orangeA-2: var(--orange-a2);
  --color-orangeA-3: var(--orange-a3);
  --color-orangeA-4: var(--orange-a4);
  --color-orangeA-5: var(--orange-a5);
  --color-orangeA-6: var(--orange-a6);
  --color-orangeA-7: var(--orange-a7);
  --color-orangeA-8: var(--orange-a8);
  --color-orangeA-9: var(--orange-a9);
  --color-orangeA-10: var(--orange-a10);
  --color-orangeA-11: var(--orange-a11);
  --color-orangeA-12: var(--orange-a12);
  --color-orange-contrast: var(--orange-contrast);
  --color-orange-surface: var(--orange-surface);
  --color-orange-track: var(--orange-track);
  --color-orange-indicator: var(--orange-indicator);

  --color-tomato-1: var(--tomato-1);
  --color-tomato-2: var(--tomato-2);
  --color-tomato-3: var(--tomato-3);
  --color-tomato-4: var(--tomato-4);
  --color-tomato-5: var(--tomato-5);
  --color-tomato-6: var(--tomato-6);
  --color-tomato-7: var(--tomato-7);
  --color-tomato-8: var(--tomato-8);
  --color-tomato-9: var(--tomato-9);
  --color-tomato-10: var(--tomato-10);
  --color-tomato-11: var(--tomato-11);
  --color-tomato-12: var(--tomato-12);
  --color-tomatoA-1: var(--tomato-a1);
  --color-tomatoA-2: var(--tomato-a2);
  --color-tomatoA-3: var(--tomato-a3);
  --color-tomatoA-4: var(--tomato-a4);
  --color-tomatoA-5: var(--tomato-a5);
  --color-tomatoA-6: var(--tomato-a6);
  --color-tomatoA-7: var(--tomato-a7);
  --color-tomatoA-8: var(--tomato-a8);
  --color-tomatoA-9: var(--tomato-a9);
  --color-tomatoA-10: var(--tomato-a10);
  --color-tomatoA-11: var(--tomato-a11);
  --color-tomatoA-12: var(--tomato-a12);
  --color-tomato-contrast: var(--tomato-contrast);
  --color-tomato-surface: var(--tomato-surface);
  --color-tomato-track: var(--tomato-track);
  --color-tomato-indicator: var(--tomato-indicator);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);
  --color-redA-1: var(--red-a1);
  --color-redA-2: var(--red-a2);
  --color-redA-3: var(--red-a3);
  --color-redA-4: var(--red-a4);
  --color-redA-5: var(--red-a5);
  --color-redA-6: var(--red-a6);
  --color-redA-7: var(--red-a7);
  --color-redA-8: var(--red-a8);
  --color-redA-9: var(--red-a9);
  --color-redA-10: var(--red-a10);
  --color-redA-11: var(--red-a11);
  --color-redA-12: var(--red-a12);
  --color-red-contrast: var(--red-contrast);
  --color-red-surface: var(--red-surface);
  --color-red-track: var(--red-track);
  --color-red-indicator: var(--red-indicator);

  --color-iris-1: var(--iris-1);
  --color-iris-2: var(--iris-2);
  --color-iris-3: var(--iris-3);
  --color-iris-4: var(--iris-4);
  --color-iris-5: var(--iris-5);
  --color-iris-6: var(--iris-6);
  --color-iris-7: var(--iris-7);
  --color-iris-8: var(--iris-8);
  --color-iris-9: var(--iris-9);
  --color-iris-10: var(--iris-10);
  --color-iris-11: var(--iris-11);
  --color-iris-12: var(--iris-12);
  --color-irisA-1: var(--iris-a1);
  --color-irisA-2: var(--iris-a2);
  --color-irisA-3: var(--iris-a3);
  --color-irisA-4: var(--iris-a4);
  --color-irisA-5: var(--iris-a5);
  --color-irisA-6: var(--iris-a6);
  --color-irisA-7: var(--iris-a7);
  --color-irisA-8: var(--iris-a8);
  --color-irisA-9: var(--iris-a9);
  --color-irisA-10: var(--iris-a10);
  --color-irisA-11: var(--iris-a11);
  --color-irisA-12: var(--iris-a12);
  --color-iris-contrast: var(--iris-contrast);
  --color-iris-surface: var(--iris-surface);
  --color-iris-track: var(--iris-track);
  --color-iris-indicator: var(--iris-indicator);

  --color-indigo-1: var(--indigo-1);
  --color-indigo-2: var(--indigo-2);
  --color-indigo-3: var(--indigo-3);
  --color-indigo-4: var(--indigo-4);
  --color-indigo-5: var(--indigo-5);
  --color-indigo-6: var(--indigo-6);
  --color-indigo-7: var(--indigo-7);
  --color-indigo-8: var(--indigo-8);
  --color-indigo-9: var(--indigo-9);
  --color-indigo-10: var(--indigo-10);
  --color-indigo-11: var(--indigo-11);
  --color-indigo-12: var(--indigo-12);
  --color-indigoA-1: var(--indigo-a1);
  --color-indigoA-2: var(--indigo-a2);
  --color-indigoA-3: var(--indigo-a3);
  --color-indigoA-4: var(--indigo-a4);
  --color-indigoA-5: var(--indigo-a5);
  --color-indigoA-6: var(--indigo-a6);
  --color-indigoA-7: var(--indigo-a7);
  --color-indigoA-8: var(--indigo-a8);
  --color-indigoA-9: var(--indigo-a9);
  --color-indigoA-10: var(--indigo-a10);
  --color-indigoA-11: var(--indigo-a11);
  --color-indigoA-12: var(--indigo-a12);
  --color-indigo-contrast: var(--indigo-contrast);
  --color-indigo-surface: var(--indigo-surface);
  --color-indigo-track: var(--indigo-track);
  --color-indigo-indicator: var(--indigo-indicator);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);
  --color-greenA-1: var(--green-a1);
  --color-greenA-2: var(--green-a2);
  --color-greenA-3: var(--green-a3);
  --color-greenA-4: var(--green-a4);
  --color-greenA-5: var(--green-a5);
  --color-greenA-6: var(--green-a6);
  --color-greenA-7: var(--green-a7);
  --color-greenA-8: var(--green-a8);
  --color-greenA-9: var(--green-a9);
  --color-greenA-10: var(--green-a10);
  --color-greenA-11: var(--green-a11);
  --color-greenA-12: var(--green-a12);
  --color-green-contrast: var(--green-contrast);
  --color-green-surface: var(--green-surface);
  --color-green-track: var(--green-track);
  --color-green-indicator: var(--green-indicator);

  /* breakpoints */
  --breakpoint-xs: 520px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1640px;

  /* specific shit */
  --header-height: 3.5rem;
  --combobox-input-height: 2rem;
  --font-inter:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-open-sans:
    Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --container-max-width-2xl: 1400px;

  /* Animations */
  --animate-collapsible-slide-up: collapsibleSlideUp 150ms ease-out;
  --animate-collapsible-slide-down: collapsibleSlideDown 150ms ease-out;
  --animate-collapsible-slide-right: collapsibleSlideRight 150ms ease-out;
  --animate-collapsible-slide-left: collapsibleSlideLeft 150ms ease-out;

  @keyframes collapsibleSlideLeft {
    from {
      width: var(--radix-collapsible-content-width);
    }
    to {
      width: 0;
    }
  }

  @keyframes collapsibleSlideRight {
    from {
      width: 0;
    }
    to {
      width: var(--radix-collapsible-content-width);
    }
  }

  @keyframes collapsibleSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsibleSlideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  /* animations */
  --animate-enter-from-left: enterFromLeft 100ms ease;
  --animate-enter-from-right: enterFromRight 100ms ease;
  --animate-exit-to-left: exitToLeft 100ms ease;
  --animate-exit-to-right: exitToRight 100ms ease;
  --animate-scale-in: scaleIn 50ms ease;
  --animate-scale-out: scaleOut 50ms ease;
  --animate-border-beam: border-beam 2s linear infinite;

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes glow {
    0%,
    100% {
      filter: drop-shadow(0 0 4px var(--accent-3))
        drop-shadow(0 0 8px var(--accent-3));
    }
    50% {
      filter: drop-shadow(0 0 12px var(--accent-3))
        drop-shadow(0 0 20px var(--accent-3))
        drop-shadow(0 0 28px var(--accent-3));
    }
  }

  @keyframes border-beam {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* Include just the colors you use */
@import "@radix-ui/themes/tokens/colors/red.css" layer(radix-themes);
@import "@radix-ui/themes/tokens/colors/tomato.css" layer(radix-themes); /* error */
@import "@radix-ui/themes/tokens/colors/gray.css" layer(radix-themes);
@import "@radix-ui/themes/tokens/colors/indigo.css" layer(radix-themes); /* info */
@import "@radix-ui/themes/tokens/colors/iris.css" layer(radix-themes); /* info */
@import "@radix-ui/themes/tokens/colors/orange.css" layer(radix-themes); /* warning */
@import "@radix-ui/themes/tokens/colors/green.css" layer(radix-themes); /* success */

/* Include the colors you want to override */
@import "./colors.css" layer(radix-themes);

/* Rest of the CSS */
@import "@radix-ui/themes/components.css" layer(radix-themes);
@import "@radix-ui/themes/utilities.css" layer(radix-themes);

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: medium;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply lg:[--top-spacing:calc(var(--spacing)*4)];
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;

    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--gray-6);
      border-radius: 5px;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--gray-a7) transparent;
    }
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: var(--container-max-width-2xl);
    }
  }

  @media (max-width: 768px) {
    .rt-BaseDialogScrollPadding {
      padding: 0;
      margin: 0;
    }
  }

  .rt-TextFieldRoot {
    z-index: 1;
  }

  .rt-BaseButton:where(.rt-variant-solid):where([data-disabled]) {
    color: var(--gray-8);
  }

  .rt-BaseButton:where(.rt-variant-classic):where([data-disabled]) {
    color: var(--gray-8);
  }

  .rt-BaseButton:where(.rt-variant-soft, .rt-variant-ghost) {
    color: var(--accent-11);
  }

  .radix-themes {
    --default-font-family: var(--font-inter);
  }
}
